@charset "UTF-8";

body {
  font-size: 30px;
  font-weight: bold;
  background-color: black;
  margin: 0;
  padding: 0;
}

header {
  color: white;
  width: 100%;
  height: 40px;
  font-style: italic;
  text-align: center;
  background-color: #333333;
  padding: 0;
  margin-bottom: 20px;
}

footer {
  color: white;
  width: 100%;
  height: 40px;
  font-style: italic;
  text-align: center;
  background-color: #333333;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0px;
}

#score {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  color: white;
  padding-left: 10px;
}

.darts-board {
  position: relative;
  height: 800px;
  width: 800px;
  margin: 0 auto;
  background-color: #333333;
}

.inner-bull {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4%;
  width: 4%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background: black;
  z-index: 8;
}

.outer-bull {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 9%;
  width: 9%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  border: black;
  border: solid;
  background: red;
  z-index: 7;
}

/**********single-inner ここから**********/
.single-inner-20 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: black 140px solid;
  border-right: 22px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 22px solid transparent;
  transform: translate(-50%, -100%) rotate(0deg);
  transform-origin: bottom;
  z-index: 6;
}

.single-inner-1 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: white 140px solid;
  border-right: 22px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 22px solid transparent;
  transform: translate(-50%, -100%) rotate(18deg);
  transform-origin: bottom;
  z-index: 6;
}

.single-inner-18 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: black 140px solid;
  border-right: 22px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 22px solid transparent;
  transform: translate(-50%, -100%) rotate(36deg);
  transform-origin: bottom;
  z-index: 6;
}

.single-inner-4 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: white 140px solid;
  border-right: 22px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 22px solid transparent;
  transform: translate(-50%, -100%) rotate(54deg);
  transform-origin: bottom;
  z-index: 6;
}

.single-inner-13 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: black 140px solid;
  border-right: 22px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 22px solid transparent;
  transform: translate(-50%, -100%) rotate(72deg);
  transform-origin: bottom;
  z-index: 6;
}

.single-inner-6 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: white 140px solid;
  border-right: 22px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 22px solid transparent;
  transform: translate(-50%, -100%) rotate(90deg);
  transform-origin: bottom;
  z-index: 6;
}

.single-inner-10 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: black 140px solid;
  border-right: 22px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 22px solid transparent;
  transform: translate(-50%, -100%) rotate(108deg);
  transform-origin: bottom;
  z-index: 6;
}

.single-inner-15 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: white 140px solid;
  border-right: 22px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 22px solid transparent;
  transform: translate(-50%, -100%) rotate(126deg);
  transform-origin: bottom;
  z-index: 6;
}

.single-inner-2 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: black 140px solid;
  border-right: 22px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 22px solid transparent;
  transform: translate(-50%, -100%) rotate(144deg);
  transform-origin: bottom;
  z-index: 6;
}

.single-inner-17 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: white 140px solid;
  border-right: 22px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 22px solid transparent;
  transform: translate(-50%, -100%) rotate(162deg);
  transform-origin: bottom;
  z-index: 6;
}

.single-inner-3 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: black 140px solid;
  border-right: 22px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 22px solid transparent;
  transform: translate(-50%, -100%) rotate(180deg);
  transform-origin: bottom;
  z-index: 6;
}

.single-inner-19 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: white 140px solid;
  border-right: 22px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 22px solid transparent;
  transform: translate(-50%, -100%) rotate(198deg);
  transform-origin: bottom;
  z-index: 6;
}

.single-inner-7 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: black 140px solid;
  border-right: 22px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 22px solid transparent;
  transform: translate(-50%, -100%) rotate(216deg);
  transform-origin: bottom;
  z-index: 6;
}

.single-inner-16 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: white 140px solid;
  border-right: 22px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 22px solid transparent;
  transform: translate(-50%, -100%) rotate(234deg);
  transform-origin: bottom;
  z-index: 6;
}

.single-inner-8 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: black 140px solid;
  border-right: 22px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 22px solid transparent;
  transform: translate(-50%, -100%) rotate(252deg);
  transform-origin: bottom;
  z-index: 6;
}

.single-inner-11 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: white 140px solid;
  border-right: 22px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 22px solid transparent;
  transform: translate(-50%, -100%) rotate(270deg);
  transform-origin: bottom;
  z-index: 6;
}

.single-inner-14 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: black 140px solid;
  border-right: 22px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 22px solid transparent;
  transform: translate(-50%, -100%) rotate(288deg);
  transform-origin: bottom;
  z-index: 6;
}

.single-inner-9 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: white 140px solid;
  border-right: 22px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 22px solid transparent;
  transform: translate(-50%, -100%) rotate(306deg);
  transform-origin: bottom;
  z-index: 6;
}

.single-inner-12 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: black 140px solid;
  border-right: 22px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 22px solid transparent;
  transform: translate(-50%, -100%) rotate(324deg);
  transform-origin: bottom;
  z-index: 6;
}

.single-inner-5 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: white 140px solid;
  border-right: 22px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 22px solid transparent;
  transform: translate(-50%, -100%) rotate(342deg);
  transform-origin: bottom;
  z-index: 6;
}

/**********single-inner ここまで**********/

/**********triple ここから**********/

.triple-20 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: red 160px solid;
  border-right: 25.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25.14px solid transparent;
  transform: translate(-50%, -100%) rotate(0deg);
  transform-origin: bottom;
  z-index: 5;
}

.triple-1 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: blue 160px solid;
  border-right: 25.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25.14px solid transparent;
  transform: translate(-50%, -100%) rotate(18deg);
  transform-origin: bottom;
  z-index: 5;
}

.triple-18 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: red 160px solid;
  border-right: 25.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25.14px solid transparent;
  transform: translate(-50%, -100%) rotate(36deg);
  transform-origin: bottom;
  z-index: 5;
}

.triple-4 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: blue 160px solid;
  border-right: 25.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25.14px solid transparent;
  transform: translate(-50%, -100%) rotate(54deg);
  transform-origin: bottom;
  z-index: 5;
}

.triple-13 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: red 160px solid;
  border-right: 25.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25.14px solid transparent;
  transform: translate(-50%, -100%) rotate(72deg);
  transform-origin: bottom;
  z-index: 5;
}

.triple-6 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: blue 160px solid;
  border-right: 25.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25.14px solid transparent;
  transform: translate(-50%, -100%) rotate(90deg);
  transform-origin: bottom;
  z-index: 5;
}

.triple-10 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: red 160px solid;
  border-right: 25.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25.14px solid transparent;
  transform: translate(-50%, -100%) rotate(108deg);
  transform-origin: bottom;
  z-index: 5;
}

.triple-15 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: blue 160px solid;
  border-right: 25.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25.14px solid transparent;
  transform: translate(-50%, -100%) rotate(126deg);
  transform-origin: bottom;
  z-index: 5;
}

.triple-2 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: red 160px solid;
  border-right: 25.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25.14px solid transparent;
  transform: translate(-50%, -100%) rotate(144deg);
  transform-origin: bottom;
  z-index: 5;
}

.triple-17 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: blue 160px solid;
  border-right: 25.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25.14px solid transparent;
  transform: translate(-50%, -100%) rotate(162deg);
  transform-origin: bottom;
  z-index: 5;
}

.triple-3 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: red 160px solid;
  border-right: 25.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25.14px solid transparent;
  transform: translate(-50%, -100%) rotate(180deg);
  transform-origin: bottom;
  z-index: 5;
}

.triple-19 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: blue 160px solid;
  border-right: 25.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25.14px solid transparent;
  transform: translate(-50%, -100%) rotate(198deg);
  transform-origin: bottom;
  z-index: 5;
}

.triple-7 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: red 160px solid;
  border-right: 25.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25.14px solid transparent;
  transform: translate(-50%, -100%) rotate(216deg);
  transform-origin: bottom;
  z-index: 5;
}

.triple-16 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: blue 160px solid;
  border-right: 25.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25.14px solid transparent;
  transform: translate(-50%, -100%) rotate(234deg);
  transform-origin: bottom;
  z-index: 5;
}

.triple-8 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: red 160px solid;
  border-right: 25.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25.14px solid transparent;
  transform: translate(-50%, -100%) rotate(252deg);
  transform-origin: bottom;
  z-index: 5;
}

.triple-11 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: blue 160px solid;
  border-right: 25.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25.14px solid transparent;
  transform: translate(-50%, -100%) rotate(270deg);
  transform-origin: bottom;
  z-index: 5;
}

.triple-14 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: red 160px solid;
  border-right: 25.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25.14px solid transparent;
  transform: translate(-50%, -100%) rotate(288deg);
  transform-origin: bottom;
  z-index: 5;
}

.triple-9 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: blue 160px solid;
  border-right: 25.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25.14px solid transparent;
  transform: translate(-50%, -100%) rotate(306deg);
  transform-origin: bottom;
  z-index: 5;
}

.triple-12 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: red 160px solid;
  border-right: 25.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25.14px solid transparent;
  transform: translate(-50%, -100%) rotate(324deg);
  transform-origin: bottom;
  z-index: 5;
}

.triple-5 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: blue 160px solid;
  border-right: 25.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25.14px solid transparent;
  transform: translate(-50%, -100%) rotate(342deg);
  transform-origin: bottom;
  z-index: 5;
}

/**********triple ここまで**********/

/**********single-outer ここから**********/

.single-outer-20 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: black 280px solid;
  border-right: 44px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 44px solid transparent;
  transform: translate(-50%, -100%) rotate(0deg);
  transform-origin: bottom;
  z-index: 4;
}

.single-outer-1 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: white 280px solid;
  border-right: 44px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 44px solid transparent;
  transform: translate(-50%, -100%) rotate(18deg);
  transform-origin: bottom;
  z-index: 4;
}

.single-outer-18 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: black 280px solid;
  border-right: 44px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 44px solid transparent;
  transform: translate(-50%, -100%) rotate(36deg);
  transform-origin: bottom;
  z-index: 4;
}

.single-outer-4 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: white 280px solid;
  border-right: 44px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 44px solid transparent;
  transform: translate(-50%, -100%) rotate(54deg);
  transform-origin: bottom;
  z-index: 4;
}

.single-outer-13 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: black 280px solid;
  border-right: 44px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 44px solid transparent;
  transform: translate(-50%, -100%) rotate(72deg);
  transform-origin: bottom;
  z-index: 4;
}

.single-outer-6 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: white 280px solid;
  border-right: 44px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 44px solid transparent;
  transform: translate(-50%, -100%) rotate(90deg);
  transform-origin: bottom;
  z-index: 4;
}

.single-outer-10 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: black 280px solid;
  border-right: 44px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 44px solid transparent;
  transform: translate(-50%, -100%) rotate(108deg);
  transform-origin: bottom;
  z-index: 4;
}

.single-outer-15 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: white 280px solid;
  border-right: 44px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 44px solid transparent;
  transform: translate(-50%, -100%) rotate(126deg);
  transform-origin: bottom;
  z-index: 4;
}

.single-outer-2 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: black 280px solid;
  border-right: 44px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 44px solid transparent;
  transform: translate(-50%, -100%) rotate(144deg);
  transform-origin: bottom;
  z-index: 4;
}

.single-outer-17 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: white 280px solid;
  border-right: 44px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 44px solid transparent;
  transform: translate(-50%, -100%) rotate(162deg);
  transform-origin: bottom;
  z-index: 4;
}

.single-outer-3 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: black 280px solid;
  border-right: 44px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 44px solid transparent;
  transform: translate(-50%, -100%) rotate(180deg);
  transform-origin: bottom;
  z-index: 4;
}

.single-outer-19 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: white 280px solid;
  border-right: 44px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 44px solid transparent;
  transform: translate(-50%, -100%) rotate(198deg);
  transform-origin: bottom;
  z-index: 4;
}

.single-outer-7 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: black 280px solid;
  border-right: 44px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 44px solid transparent;
  transform: translate(-50%, -100%) rotate(216deg);
  transform-origin: bottom;
  z-index: 4;
}

.single-outer-16 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: white 280px solid;
  border-right: 44px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 44px solid transparent;
  transform: translate(-50%, -100%) rotate(234deg);
  transform-origin: bottom;
  z-index: 4;
}

.single-outer-8 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: black 280px solid;
  border-right: 44px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 44px solid transparent;
  transform: translate(-50%, -100%) rotate(252deg);
  transform-origin: bottom;
  z-index: 4;
}

.single-outer-11 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: white 280px solid;
  border-right: 44px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 44px solid transparent;
  transform: translate(-50%, -100%) rotate(270deg);
  transform-origin: bottom;
  z-index: 4;
}

.single-outer-14 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: black 280px solid;
  border-right: 44px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 44px solid transparent;
  transform: translate(-50%, -100%) rotate(288deg);
  transform-origin: bottom;
  z-index: 4;
}

.single-outer-9 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: white 280px solid;
  border-right: 44px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 44px solid transparent;
  transform: translate(-50%, -100%) rotate(306deg);
  transform-origin: bottom;
  z-index: 4;
}

.single-outer-12 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: black 280px solid;
  border-right: 44px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 44px solid transparent;
  transform: translate(-50%, -100%) rotate(324deg);
  transform-origin: bottom;
  z-index: 4;
}

.single-outer-5 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: white 280px solid;
  border-right: 44px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 44px solid transparent;
  transform: translate(-50%, -100%) rotate(342deg);
  transform-origin: bottom;
  z-index: 4;
}

/**********single-outer ここまで**********/

/**********double ここから**********/

.double-20 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: red 300px solid;
  border-right: 47.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 47.14px solid transparent;
  transform: translate(-50%, -100%) rotate(0deg);
  transform-origin: bottom;
  z-index: 3;
}

.double-1 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: blue 300px solid;
  border-right: 47.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 47.14px solid transparent;
  transform: translate(-50%, -100%) rotate(18deg);
  transform-origin: bottom;
  z-index: 3;
}

.double-18 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: red 300px solid;
  border-right: 47.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 47.14px solid transparent;
  transform: translate(-50%, -100%) rotate(36deg);
  transform-origin: bottom;
  z-index: 3;
}

.double-4 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: blue 300px solid;
  border-right: 47.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 47.14px solid transparent;
  transform: translate(-50%, -100%) rotate(54deg);
  transform-origin: bottom;
  z-index: 3;
}

.double-13 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: red 300px solid;
  border-right: 47.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 47.14px solid transparent;
  transform: translate(-50%, -100%) rotate(72deg);
  transform-origin: bottom;
  z-index: 3;
}

.double-6 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: blue 300px solid;
  border-right: 47.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 47.14px solid transparent;
  transform: translate(-50%, -100%) rotate(90deg);
  transform-origin: bottom;
  z-index: 3;
}

.double-10 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: red 300px solid;
  border-right: 47.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 47.14px solid transparent;
  transform: translate(-50%, -100%) rotate(108deg);
  transform-origin: bottom;
  z-index: 3;
}

.double-15 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: blue 300px solid;
  border-right: 47.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 47.14px solid transparent;
  transform: translate(-50%, -100%) rotate(126deg);
  transform-origin: bottom;
  z-index: 3;
}

.double-2 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: red 300px solid;
  border-right: 47.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 47.14px solid transparent;
  transform: translate(-50%, -100%) rotate(144deg);
  transform-origin: bottom;
  z-index: 3;
}

.double-17 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: blue 300px solid;
  border-right: 47.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 47.14px solid transparent;
  transform: translate(-50%, -100%) rotate(162deg);
  transform-origin: bottom;
  z-index: 3;
}

.double-3 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: red 300px solid;
  border-right: 47.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 47.14px solid transparent;
  transform: translate(-50%, -100%) rotate(180deg);
  transform-origin: bottom;
  z-index: 3;
}

.double-19 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: blue 300px solid;
  border-right: 47.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 47.14px solid transparent;
  transform: translate(-50%, -100%) rotate(198deg);
  transform-origin: bottom;
  z-index: 3;
}

.double-7 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: red 300px solid;
  border-right: 47.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 47.14px solid transparent;
  transform: translate(-50%, -100%) rotate(216deg);
  transform-origin: bottom;
  z-index: 3;
}

.double-16 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: blue 300px solid;
  border-right: 47.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 47.14px solid transparent;
  transform: translate(-50%, -100%) rotate(234deg);
  transform-origin: bottom;
  z-index: 3;
}

.double-8 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: red 300px solid;
  border-right: 47.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 47.14px solid transparent;
  transform: translate(-50%, -100%) rotate(252deg);
  transform-origin: bottom;
  z-index: 3;
}

.double-11 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: blue 300px solid;
  border-right: 47.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 47.14px solid transparent;
  transform: translate(-50%, -100%) rotate(270deg);
  transform-origin: bottom;
  z-index: 3;
}

.double-14 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: red 300px solid;
  border-right: 47.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 47.14px solid transparent;
  transform: translate(-50%, -100%) rotate(288deg);
  transform-origin: bottom;
  z-index: 3;
}

.double-9 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: blue 300px solid;
  border-right: 47.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 47.14px solid transparent;
  transform: translate(-50%, -100%) rotate(306deg);
  transform-origin: bottom;
  z-index: 3;
}

.double-12 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: red 300px solid;
  border-right: 47.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 47.14px solid transparent;
  transform: translate(-50%, -100%) rotate(324deg);
  transform-origin: bottom;
  z-index: 3;
}

.double-5 {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-top: blue 300px solid;
  border-right: 47.14px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 47.14px solid transparent;
  transform: translate(-50%, -100%) rotate(342deg);
  transform-origin: bottom;
  z-index: 3;
}

/**********double ここまで**********/

/**********out ここから**********/

.out {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 700px;
  width: 700px;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background: black;
  z-index: 1;
}

/**********out ここまで**********/

#award {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
}

#cong {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
}

#round_disp {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
}

#award_hattrick {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
}

#award_hattrick_back {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
}

/**********num ここから**********/

.num-20 {
  position: absolute;
  top: 4%;
  left: 47%;
  margin: auto;
  font-family: 'Pinyon Script', cursive;
  color: white;
  font-size: 40px;
  z-index: 2;
}

.num-1 {
  position: absolute;
  top: 6%;
  left: 62%;
  margin: auto;
  font-family: 'Pinyon Script', cursive;
  color: white;
  font-size: 40px;
  z-index: 2;
}

.num-18 {
  position: absolute;
  top: 12%;
  left: 72%;
  margin: auto;
  font-family: 'Pinyon Script', cursive;
  color: white;
  font-size: 40px;
  z-index: 2;
}

.num-4 {
  position: absolute;
  top: 22%;
  left: 83%;
  margin: auto;
  font-family: 'Pinyon Script', cursive;
  color: white;
  font-size: 40px;
  z-index: 2;
}

.num-13 {
  position: absolute;
  top: 34%;
  left: 89%;
  margin: auto;
  font-family: 'Pinyon Script', cursive;
  color: white;
  font-size: 40px;
  z-index: 2;
}

.num-6 {
  position: absolute;
  top: 47%;
  left: 91%;
  margin: auto;
  font-family: 'Pinyon Script', cursive;
  color: white;
  font-size: 40px;
  z-index: 2;
}

.num-10 {
  position: absolute;
  top: 60%;
  left: 88%;
  margin: auto;
  font-family: 'Pinyon Script', cursive;
  color: white;
  font-size: 40px;
  z-index: 2;
}

.num-15 {
  position: absolute;
  top: 72%;
  left: 82%;
  margin: auto;
  font-family: 'Pinyon Script', cursive;
  color: white;
  font-size: 40px;
  z-index: 2;
}

.num-2 {
  position: absolute;
  top: 83%;
  left: 73%;
  margin: auto;
  font-family: 'Pinyon Script', cursive;
  color: white;
  font-size: 40px;
  z-index: 2;
}

.num-17 {
  position: absolute;
  top: 89%;
  left: 60%;
  margin: auto;
  font-family: 'Pinyon Script', cursive;
  color: white;
  font-size: 40px;
  z-index: 2;
}

.num-3 {
  position: absolute;
  top: 91%;
  left: 48%;
  margin: auto;
  font-family: 'Pinyon Script', cursive;
  color: white;
  font-size: 40px;
  z-index: 2;
}

.num-19 {
  position: absolute;
  top: 89%;
  left: 33%;
  margin: auto;
  font-family: 'Pinyon Script', cursive;
  color: white;
  font-size: 40px;
  z-index: 2;
}

.num-7 {
  position: absolute;
  top: 84%;
  left: 23%;
  margin: auto;
  font-family: 'Pinyon Script', cursive;
  color: white;
  font-size: 40px;
  z-index: 2;
}

.num-16 {
  position: absolute;
  top: 74%;
  left: 11%;
  margin: auto;
  font-family: 'Pinyon Script', cursive;
  color: white;
  font-size: 40px;
  z-index: 2;
}

.num-8 {
  position: absolute;
  top: 62%;
  left: 7%;
  margin: auto;
  font-family: 'Pinyon Script', cursive;
  color: white;
  font-size: 40px;
  z-index: 2;
}

.num-11 {
  position: absolute;
  top: 48%;
  left: 4%;
  margin: auto;
  font-family: 'Pinyon Script', cursive;
  color: white;
  font-size: 40px;
  z-index: 2;
}

.num-14 {
  position: absolute;
  top: 34%;
  left: 5%;
  margin: auto;
  font-family: 'Pinyon Script', cursive;
  color: white;
  font-size: 40px;
  z-index: 2;
}

.num-9 {
  position: absolute;
  top: 22%;
  left: 12%;
  margin: auto;
  font-family: 'Pinyon Script', cursive;
  color: white;
  font-size: 40px;
  z-index: 2;
}

.num-12 {
  position: absolute;
  top: 12%;
  left: 21%;
  margin: auto;
  font-family: 'Pinyon Script', cursive;
  color: white;
  font-size: 40px;
  z-index: 2;
}

.num-5 {
  position: absolute;
  top: 6%;
  left: 35%;
  margin: auto;
  font-family: 'Pinyon Script', cursive;
  color: white;
  font-size: 40px;
  z-index: 2;
}

/**********num ここまで**********/

#round_1 {
  font-size: 20px;
  color: white;
  padding-left: 10px;
}

#round_2 {
  font-size: 20px;
  color: white;
  padding-left: 10px;
}

#round_3 {
  font-size: 20px;
  color: white;
  padding-left: 10px;
}

#round_4 {
  font-size: 20px;
  color: white;
  padding-left: 10px;
}

#round_5 {
  font-size: 20px;
  color: white;
  padding-left: 10px;
}

#round_6 {
  font-size: 20px;
  color: white;
  padding-left: 10px;
}

#round_7 {
  font-size: 20px;
  color: white;
  padding-left: 10px;
}

#round_8 {
  font-size: 20px;
  color: white;
  padding-left: 10px;
}